* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #4A90E2;
    color: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
}

/* Main message styling */
main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 20px;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4A90E2;
}

main ol {
    text-align: left;
    margin: 20px 0;
}

main li {
    margin: 15px 0;
    font-size: 1.1em;
}

main ul {
    margin-left: 20px;
}

main li::marker {
    color: #4A90E2;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #fff;
    background-color: #4A90E2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #ffe600;
    text-decoration: none;
    font-weight: bold;

}

footer a:hover {
    text-decoration: underline;
}

.donate-para {
    color: #333;
    font-weight: bolder;
    size: 1rem;
    margin-bottom: 10px;
}


.donate-button{
    margin-left: 50px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #1a73e8;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: #ffcc00;
    color: #333;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    main {
        padding: 20px;
    }

    main h2 {
        font-size: 1.8em;
    }

    main li {
        font-size: 1em;
    }

}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    main h2 {
        font-size: 1.5em;
    }

    main li {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }

}